button, .button {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: #fff;
}

button:hover, .button:hover,
button:focus, .button:focus {
  background-color: color(var(--main-color) shade(20%));
  border: 1px solid color(var(--main-color) shade(20%));
  color: #fff;
}
