.page-main {
  padding-right: 40px;
}

.page-content {
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  padding: 40px;
}

.page-date {
  text-transform: uppercase;
  font-size: 80%;
}

.page-title {
  margin-bottom: 10px;
}

.page-tags {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  font-size: 16px;
}

.page-tags li {
  display: inline-block;
  margin-right: 3px;
}

.page-tags a {
  padding: 3px 8px;
  background-color: color(var(--blue) tint(70%));
  color: #333;
  text-decoration: none;
  border-radius: 3px;
}

.page-tags a:hover {
  color: #fff;
  background-color: var(--blue);
}

.page-contributors {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin: 30px 0px 10px 0px;
  padding-top: 10px;
}

.page-section {
  margin: 25px 0px;
}
