html,
body,
input,
button,
select,
textarea {
  font: 18px/1.4 var(--sans-serif);
  color: #444;
  font-weight: 500;
}

::-moz-selection, ::selection {
  background-color: rgb(242, 251, 251);
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-serif);
  text-rendering: optimizeLegibility;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 5px;
}

.center-text {
  text-align: center;
}

.italic {
  font-style: italic;
}

.serif {
  font-family: var(--serif);
}

.sans-serif {
  font-family: var(--sans-serif);
}

a {
  color: var(--link);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--link-hover);
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
}

code {
  font-family: var(--monospace);
  padding: 5px 10px;
  background-color: #fdfdfb;
  font-size: 13px;
  border-radius: 2px;
  white-space: nowrap;
}

pre {
  font-family: var(--monospace);
  font-size: 13px;
  padding: 10px 15px;
  background-color: #fdfdfb;
  border-radius: 2px;
  overflow-x: auto;
  margin-bottom: 35px;
}

pre code {
  background-color: none;
  border: 0px;
  padding: 0px;
  white-space: pre;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  width: 200px;
  margin: 30px auto;
  content: "";
  clear: both;
}
